@import "vars";

.sp {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sp-run {
  &:before {
    content: $sp-run; 
  }
}
.sp-gym {
  &:before {
    content: $sp-gym; 
  }
}
.sp-fight {
  &:before {
    content: $sp-fight; 
  }
}
.sp-swim {
  &:before {
    content: $sp-swim; 
  }
}
.sp-football {
  &:before {
    content: $sp-football; 
  }
}

